In [1]:
import re 
import nltk
nltk.download("stopwords")
import pandas as pd 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nikhi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Naive-Bayes/main/SpamClassifier-with-ML/sms_spam_data/SMSSpamCollection.csv",sep="\t",header=None,names=["label","messages"])
df.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Stemming 
extracts the root word. So the model is able to understand the context in which the word is being used.

In [4]:
ps = PorterStemmer()

Step 1 : Replace Non letter by blank space

Step 2: Stemming for root word

Step 3: and filtering the stopwords

In [36]:
corpus = []
for i in range(0, len(df)):
    review = re.sub('[^a-zA-Z]',' ',df['messages'][i])
    review = review.lower()
    review = review.split()

    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

Convert this data into vectors

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
count = CountVectorizer(max_features=2500)

In [37]:
X = count.fit_transform(corpus).toarray()
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [38]:
X.shape

(5572, 2500)

In [39]:
y = pd.get_dummies(df['label'], drop_first=True)
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [55]:
model = GaussianNB()
model.fit(X_train, y_train)

c:\Users\nikhi\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [56]:
y_pred = model.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score

In [57]:
accuracy_score(y_test, y_pred)

0.8582535885167464

In [59]:
from sklearn.naive_bayes import MultinomialNB
model2 = MultinomialNB()
model2.fit(X_train, y_train)

c:\Users\nikhi\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [60]:
y_pred2 = model.predict(X_test)
accuracy_score(y_test,y_pred=y_pred2)

0.8582535885167464